<div layout="column" flex layout-padding layout-align="space-around stretch">
    <div layout-gt-sm="row">
        <md-input-container class="md-icon-float md-block" flex-gt-sm>
            <label>First Name</label>
            <md-icon class="md-primary">person</md-icon>
            <input ng-model="user.firstName" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="theMax" />
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-icon-float md-block" flex-gt-sm>
            <label>Starting Address</label>
            <md-icon class="md-primary">home</md-icon>
            <input ng-model="something" />
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-icon-float md-block" flex-gt-sm>
            <label>Ending Address</label>
            <md-icon class="md-primary">work</md-icon>
            <input ng-model="something" />
        </md-input-container>
    </div>
    <md-radio-group ng-model="data.group1" layout="row" layout-align="center">
        <md-radio-button value="Driver" class="md-primary">Driver</md-radio-button>
        <md-radio-button value="Passenger" class="md-primary">Passenger</md-radio-button>
    </md-radio-group>
    <md-button class="md-primary md-raised">Submit</md-button>
</div>
